@import url('http://fonts.googleapis.com/css?family=Amarante');

html { overflow-y: scroll; }

span {

  font-size: 16px;
}

body {
  background: #eee;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 62.5%;
  line-height: 1;
  color: #585858;
  padding: 22px 10px;
  padding-bottom: 55px;
}

h1 {
  font-family: 'Amarante', Tahoma, sans-serif;
  font-weight: bold;
  font-size: 3.6em;
  line-height: 1.7em;
  margin-bottom: 10px;
  text-align: center;
}


/** page structure **/
#wrapper {
  display: block;
  width: 850px;
  background: #fff;
  margin: 0 auto;
  padding: 10px 17px;
  -webkit-box-shadow: 2px 2px 3px -1px rgba(0,0,0,0.35);
}

.timePlace {

  float: right;
  display: inline-block;
  width: 500px;
  margin: 0 auto;
  text-align: right;
}

.description {

  display: inline-block;
  width: 840px;
}
